@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}
body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  font-size: 14px;

}
.dealersTitleDiv {
  margin: 1.5rem 2rem 0.5rem 2rem;
  font-size: 16pt;
}
.defaultButton {
  border: black;
  background-color: green;
  color: white;
  padding: 0.3rem 0.6rem;
  font-size: 12pt;
  margin: 1rem;
  border-radius: 0.2rem;
}
.dealerCardImagesDiv {
  display: flex;
}
.singleCardImageDiv {
  margin: 2rem;
}
